.image-logo {
    width: 150px; /* Largeur de l'image */
    height: 150px; /* Hauteur de l'image */
    border-radius: 50%; /* Image circulaire */
    object-fit: cover; /* Garder les proportions */
    border: 3px solid #007bff; /* Bordure bleue (optionnel) */
  }
  
  .profile-info h2 {
    color: #343a40; /* Couleur du texte */
  }
  
  .profile-matieres {
    margin-top: 30px;
  }
  
  .list-group-item {
    text-align: center; /* Centrer le texte dans la liste */
  }
  