.image-enseignant {
    width: 50px;  /* Ajuste la largeur à ta convenance */
    height: 50px; /* Ajuste la hauteur à ta convenance */
    border-radius: 50%; /* Pour un avatar circulaire */
    object-fit: cover; /* Pour garder les proportions de l'image */
  }
  