<div *ngIf="user" class="profile-container">
  <h4 class="mb-4">Emploi du temps d'enseignant(e) : {{ user.name }} -  {{ getSemestre() }}</h4>

  <!-- Affichage du chargement et des erreurs -->
  <div *ngIf="isLoading" class="alert alert-info">Chargement...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <!-- Table d'emploi du temps -->
  <div class="table-responsive" *ngIf="!isLoading && !error">
    <table class="table table-bordered table-striped emploi-table">
      <thead class="bg-primary text-white text-center">
        <tr>
          <th>Heures / Jours</th>
          <th *ngFor="let jour of joursSemaine">{{ jour }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let heure of heures">
          <td class="fw-bold text-center">{{ heure }}</td>
          <td *ngFor="let jour of joursSemaine" class="text-center">
            <div *ngIf="emploiDuTemps[jour][heure]" class="p-2 bg-light rounded-3">
              <strong>{{ emploiDuTemps[jour][heure]?.matiere.nomMatiere }}</strong><br />
              <small class="text-secondary">Classe: {{ emploiDuTemps[jour][heure]?.classe.nomClasse }}</small><br />
              <small class="text-secondary">Salle: {{ emploiDuTemps[jour][heure]?.salle.nomSalle }}</small>
            </div>
            <div *ngIf="!emploiDuTemps[jour][heure]" class="text-muted"></div>

            <!-- <div *ngIf="!emploiDuTemps[jour][heure]" class="text-muted">Pas de séance</div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
