.custom-header {
    background-color: #dee5e7; /* Bleu clair */
    color: #333333; /* Texte gris foncé */
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
  }