<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h3>Créer une Nouvelle Classe</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="createClass()">
        <!-- Nom de la Classe -->
        <div class="mb-3">
          <label for="nomClasse" class="form-label">Nom de la Classe</label>
          <input
            type="text"
            class="form-control"
            id="nomClasse"
            [(ngModel)]="newClasse.nomClasse"
            name="nomClasse"
            required
          />
        </div>

        <!-- Année Universitaire -->
        <div class="mb-3">
          <label for="anneeUniversitaire" class="form-label">Année Universitaire</label>
          <select
            class="form-select"
            id="anneeUniversitaire"
            [(ngModel)]="newClasse.anneeUniversitaire.id"
            name="anneeUniversitaire"
            required
          >
            <option value="" disabled selected>-- Sélectionner l'année --</option>
            <option *ngFor="let annee of anneesUniversitaires" [value]="annee.id">
              {{ annee.nomAnnee }}
            </option>
          </select>
        </div>

        <!-- Spécialité -->
        <div class="form-group mb-3">
          <label for="specialite">Spécialité</label>
          <select
            id="specialite"
            name="specialite"
            [(ngModel)]="newClasse.specialite"
            class="form-control"
            required
            (change)="onSpecialiteChange()"
          >
            <option value="" disabled selected>-- Sélectionner la spécialité --</option>
            <option *ngFor="let specialite of specialites" [ngValue]="specialite">
              {{ specialite.nomSpecialite }}
            </option>
          </select>
        </div>

        <!-- Niveau (Filtré en fonction de la spécialité) -->
        <div class="form-group mb-3">
          <label for="niveau">Niveau</label>
          <select id="niveau" name="niveau" [(ngModel)]="newClasse.niveau" class="form-control">
            <option *ngFor="let niveau of filteredNiveaux" [ngValue]="niveau">
              {{ niveau.nomNiveau }}
            </option>
          </select>
        </div>

        <!-- Bouton de soumission -->
        <button type="submit" class="btn btn-primary">Créer Classe</button>
      </form>
    </div>
  </div>
</div>
